*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.conteiner{
    background-color: black;
    height: 100vh;
}
.menu {
    height: 80px;
    background-color: aliceblue;
}
.menu ul{
    display: flex;
    justify-content: center;
}
.menu li{
        list-style: none;
        margin-left: 25px;
}
menu 
#secao1{
    background-color: aqua;
    height: 100vh;
}
#secao2{
    background-color: blanchedalmond;
    height: 100vh;
}
#contatos{
    background-color: brown;
    height: 80px;
}
