body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: darkslategrey;

}
h1{
    text-align: center;
    color: blue;
    background-color: aqua  ;
    width: 100px;
    font-size: 30px;
}
h2{
    color: blueviolet;
    background-color: lightgreen;
    font-size: 20px;
    width: 80px;
}
p{
    background-color: lightgreen;
    width: 500px;

}
.c{border: solid 3px;}
#d{
    color: grey;
    font-family: 'Courier New', Courier, monospace;

}
.texto{ 
    width: 1920px;
    font-size: larger;

}
#s{
    background-color: white;
    width: 200px;
}
div{
    color: white;
}