@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.nunito{
    font-family: Nunito;
}
.anton{
    font-family: Anton;
}
.shadows{
    font-family: "Shadows Into Light", cursive;
}
.cabecalho{
    text-align: center;
    font-size: 0.8em;

}
.titulo{
    text-align: center;
    text-transform: uppercase;
    

}
.versiculo{
    text-align: center;
    font-size: 1.3em;
}
.texto{
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: justify;
}
.importante{
    font-size: 1.4em;
    font-weight: bold;
    color: green;
    text-align: center;
}
.desafio{
    font-style: italic;
    background-color: grey;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
span{
    font-weight: bold;
}